div {
	height: 50px;
	width: 150px;
	border: 2px solid white;
	border-radius: 5px;
	background-color: #191970;
	margin:auto;
	text-align:center;
}
p{
    color:#F5FFFA;
    font-family:Comic Sans MS;
    position:relative;
}
div:nth-child(2){
    background-color:#ADD8E6;
    height: 300px;
    width:300px;
    border:1px solid white;
    float:right;
    padding-right:20px;
}